* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom right, #cce5ff, #99ccff); */
  }
  
  .login-box {
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 113, 252, 0.193);
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 1.5rem;
    color: #002b80;
  }
  
  .login-box input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
  }
  
  .login-box button {
    width: 100%;
    padding: 0.8rem;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-box button:hover {
    background-color: #003399;
  }
  
  .login-box p {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .login-box a {
    color: #0044cc;
    text-decoration: none;
    font-weight: bold;
  }
  